/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

*::-webkit-input-placeholder {
	color: #000;
	opacity: 1;
}
*:-moz-placeholder {
	color: #000;
	opacity: 1;
}
*::-moz-placeholder {
	color: #000;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #000;
	opacity: 1;
}
* {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
*:before, *:after {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
body input:focus:required:invalid,
body textarea:focus:required:invalid {
	
}
body input:required:valid,
body textarea:required:valid {
	
}
body {
	font-family: sans-serif;
	font-size: 12px;
	min-width: 270px;
	position: relative;
	line-height: 20px;
	font-family: "Roboto", sans-serif;
	overflow-x: hidden;
	margin: 0;
}
p{
	margin: 0;
}
a{
	text-decoration: none;
}
img{
	max-width: 100%;
	height: auto;
}
ul li{
	list-style: none;
}
ul{
	margin: 0;
	padding-left: 0;
}
h1, h2, h3, h4, h5, h6{
	margin: 0;
}
.overlay {
	display: none;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 10;
	background: #2E2E2E;
	opacity: 0.6;
}
.z_ind {
	z-index: 11;
}
.container{
	margin: 0 auto;
	position: relative;
	padding: 0 20px;
	width: 100%;
	max-width: 1560px;
}
button {
	cursor: pointer;
	border: none;
}
.icon {
	display: inline-block;
	font-size: 0;
	background: url('../img/sprite.png') no-repeat top left;
}
.icon.i_Cronlogo {
	background-position: 0 0;
	width: 84px;
	height: 44px;
}
.icon.i_close_white {
	background-position: -94px 0;
	width: 45px;
	height: 44px;
}
.icon.i_linkedIN {
	background-position: 0 -54px;
	width: 44px;
	height: 44px;
}
.icon.i_mail {
	background-position: -54px -54px;
	width: 44px;
	height: 44px;
}
.icon.i_search_black {
	background-position: -149px 0;
	width: 44px;
	height: 44px;
}
.icon.i_youtube {
	background-position: -149px -54px;
	width: 44px;
	height: 44px;
}
.icon.i_close_gray {
	background-position: 0 -108px;
	width: 44px;
	height: 44px;
}
.icon.i_map-pin {
	background-position: -54px -108px;
	width: 40px;
	height: 40px;
}
.icon.i_search_gray {
	background-position: -104px -108px;
	width: 40px;
	height: 40px;
}
.icon.i_slider_arrow_black_L {
	background-position: -154px -108px;
	width: 36px;
	height: 36px;
}
.icon.i_slider_arrow_black_R {
	background-position: -203px 0;
	width: 36px;
	height: 36px;
}
.icon.i_slider_arrow_white_L {
	background-position: -203px -46px;
	width: 36px;
	height: 36px;
}
.icon.i_slider_arrow_white_R {
	background-position: -203px -92px;
	width: 36px;
	height: 36px;
}
.icon.i_arrow_gray {
	background-position: 0 -162px;
	width: 36px;
	height: 36px;
}
.icon.i_checked {
	background-position: -46px -162px;
	width: 36px;
	height: 32px;
}
.icon.i_submenu_arrow {
	background-position: -108px -54px;
	width: 28px;
	height: 24px;
}
.icon.i_close_black {
	background: url(../img/close_black.svg) center no-repeat;
	width: 48px;
	height: 100%;
}

.header_wrapper {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	padding: 2px 0;
}
.header_wrapper:after {
	content: '';
	position: absolute;
	bottom: -16px;
	left: 0;
	width: 0;
	height: 0;
	border-left: 28px solid transparent;
	border-right: 28px solid transparent;
	border-top: 16px solid #ffffff;
	z-index: 5;
}
.menu_wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	width: 100%;
}
.logo {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin-top: 10px;
	width: 100px;
	margin-bottom: -4px;
}
.header_wrapper .menu {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	margin: 0 auto; 
}
.menu > li.active a {
	border-bottom: 1px solid #D83933;
}
.header_wrapper .menu > li > a {
	display: inline-block;
	font-family: 'Robotomedium', sans-serif;
	text-transform: uppercase;
	color: #000;
	letter-spacing: 1.6px;
	-ms-flex-item-align: center;
	-ms-grid-row-align: center;
	align-self: center;
}
.menu .submenu {
	position: relative;
	margin-right: 30px;
}
.menu .submenu > a:after {
	content: '';
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);	right: 2px;
	width: 10px;
	height: 8px;
	background: url(../img/sprite.png) no-repeat top left;
	background-position: -116px -62px;
}
.menu .submenu > a {
	padding-right: 17px;
}
.menu .submenu ul {
	display: none;
	position: absolute;
	top: 65px;
	background: #fff;
	width: 240px;
	max-height: 440px;
	padding: 8px 16px;
	padding-right: 6px;
	-webkit-filter: drop-shadow(0px 4px 16px rgba(0, 0, 0, 0.2));
	filter: drop-shadow(0px 4px 16px rgba(0, 0, 0, 0.2));
	z-index: 5;
	overflow-y: auto;
}
.menu .submenu:hover ul {
	display: block;
}
.menu .submenu ul a {
	width: 100%;
	display: inline-block;
	font-size: 15px;
	line-height: 24px;
	color: #000;
}
.menu .submenu li {
	margin-bottom: 16px;
}
.menu .submenu li:last-of-type {
	margin-bottom: 0;
}
.menu > li {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin-right: 24px;
	height: 100%;
}
.menu_btn {
	display: none;
	background: url(../img/menu.svg) center no-repeat;
	width: 50px;
	-webkit-box-ordinal-group: 2;
	-ms-flex-order: 1;
	order: 1;
}
.search {
	/*position: relative;*/
	margin-left: -23px;
	margin-right: 8px;
}
.search.open {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: reverse;
	-ms-flex-direction: row-reverse;
	flex-direction: row-reverse;
	-webkit-box-flex: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
	margin-left: 10px;
}
.search_btn {
	outline: none;
}
.search_btn.icon.i_search_black {
	background: url(../img/search_black.svg) center no-repeat;
	width: 24px;
	height: 24px;
}
.mail a.icon.i_mail {
	background: url(../img/mail.svg) center no-repeat;
	width: 24px;
	height: 24px;
}
.mail a.icon.i_mail,
.search_btn.icon.i_search_black {
	display: block;
	height: 100%;
	width: 48px;
}
section.promo_wrapper {
	height: calc(100vh - 80px);
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
}
.promo {
	position: relative;
	max-width: 1872px;
	width: 100%;
	margin: 0 auto;
	-webkit-box-flex: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
}
.promo:after {
	content: '';
	position: absolute;
	bottom: 0;
	right: 56px;
	width: 0;
	height: 0;
	border-left: 28px solid transparent;
	border-right: 28px solid transparent;
	border-bottom: 16px solid #ffffff;
	z-index: 5;
}
.promo .slide {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	height: 625px;
}
.promo .slide img {
	position: absolute;
	height: 100%;
}
.promo_content {
	position: relative;
	margin: auto;
	padding: 30px 0;
	color: #fff;
	text-align: center;
	z-index: 1;
}
.promo_content h2 {
	font-size: 68px;
	line-height: 76px;
	font-family: 'Robotobold', sans-serif;
}
.promo_content p {
	font-size: 18px;
	line-height: 28px;
	margin-top: 40px;
}
.btn {
	position: relative;
	display: inline-block;
	padding: 16px 28px;
	font-family: 'Robotobold', sans-serif;
	font-size: 15px;
	letter-spacing: 1px;
	line-height: 24px;
	text-transform: uppercase;
	color: #fff;
	background: #2E2E2E;
	transition: 0.3s all ease;
	overflow: hidden;
}
/*.btn:before, .btn:after{
	content: "";
	z-index: -1;
	position: absolute;
	width: 50%;
	height: 100%;
	top: 0;
	left: -50%;
	-webkit-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.btn:hover:before{
	left: 0;
}

.btn:hover:after{
	left: 50%;
}
.btn:after{
	left: 100%;
}
.red_btn:before,
.red_btn:after {
	background-color: #E9695F;
}
.black_btn:before,
.black_btn:after {
	background-color: #454545;
}
.white_btn:before,
.white_btn:after {
	background-color: #FCFCFC;
}*/

.red_btn:hover {
	background: #E9695F;
}
.black_btn:hover {
	background: #454545;
}
.white_btn:hover {
	background: #FCFCFC;
}
.red_btn:focus {
	box-shadow: inset -150px 0 0 0 #E9695F, inset 150px 0 0 0 #E9695F;
}

.black_btn:focus {
	box-shadow: inset -150px 0 0 0 #454545, inset 150px 0 0 0 #454545;
}

.white_btn:focus {
	box-shadow: inset -150px 0 0 0 #FCFCFC, inset 150px 0 0 0 #FCFCFC;
}

.promo_content .btn {
	margin-top: 40px;
	background: #D83933;
}
.slider .slick-dots{
	padding:0;
	bottom: 18px;
}

.slider .slick-dots li{
	position:relative;
	display:inline-block;
	width:200px;
	height:2px;
	margin:0 2px 0 0;
	padding:0;
	cursor:pointer;
	background-color:#ccbdb6;
	background-size:100% 100%;
	background-image:-webkit-gradient(linear, left, right, color-stop(1, rgb(16,56,16)), color-stop(1, transparent));
	background-image:-o-linear-gradient(left, #fff 100%, transparent);
	background-image:-moz-linear-gradient(left, #fff 100%, transparent);
	background-image:-webkit-linear-gradient(left, #fff 100%, transparent);
	background-image:linear-gradient(to right,#fff 100%,transparent 100%);
	background-repeat:no-repeat;
}

.slider .slick-dots li:last-child{
	margin-right:0;
}

.slider .slick-dots li:hover,.slider .slick-dots li.slick-active{
	background-color:#a08a7f;
	background-color: rgba(255,255,255,0.2);
}

.slider .slick-dots li button{
	display: none !important;
}

.slider .slick-dots li.slick-active~li{
	background-size:0% 0%;
}

.slider .slick-dots li.slick-active{
	-webkit-animation:right 3s ease-in-out forwards;
	-moz-animation:right 3s ease-in-out forwards;
	-o-animation:right 3s ease-in-out forwards;
	animation:right 3s ease-in-out forwards;
}

@keyframes right{
	0%{
		background-size:0% 100%;
	}

	100%{
		background-size:100% 100%;
	}
}
.slick-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-item-align: stretch;
	align-self: stretch;
	height: 100%;
}
.slick-track {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
.promo .slide {
	height: auto;
}
.contacts_wrapper ul {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	padding: 27px 0;
}
.contacts_wrapper a {
	position: relative;
	font-family: 'Robotobold', sans-serif;
	text-transform: uppercase;
	letter-spacing: 1.8px;
	color: #000;
}
.contacts_wrapper a.location {
	padding-left: 33px;
}
.contacts_wrapper a.location i{
	position: absolute;
	top: -13px;
	left: -10px;
}
.contacts_wrapper li:last-of-type {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	margin-left: -28px;
}
.contacts_wrapper .icon.i_linkedIN {
	background-position: -9px -63px;
	width: 25px;
	height: 25px;
	margin-left: 6px;
}
.contacts_wrapper .icon.i_youtube {
	background-position: -158px -64px;
	width: 25px;
	height: 25px;
	margin-left: 30px;
}
.form_wrapper {
	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	background: #fff;
	padding: 32px 40px;
	max-width: 600px;
	width: 100%;
	-webkit-box-shadow: 0px 8px 40px rgba(0, 0, 0, 0.16);
	box-shadow: 0px 8px 40px rgba(0, 0, 0, 0.16);
	overflow: auto;
	max-height: 90%;
	z-index: 15;
}
.form_wrapper form {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: flex-start;
}
.form_wrapper form b {
	font-family: 'Robotobold', sans-serif;
	font-size: 31px;
	line-height: 44px;
	color: #000;
	margin-bottom: 12px;
}
.form_wrapper form label {
	font-family: 'Robotobold', sans-serif;
	font-size: 12px;
	line-height: 20px;
	text-transform: uppercase;
	margin-bottom: 8px;
	padding-left: 10px;
	color: #5C5C5C;
}
.form_wrapper .required {
	position: relative;
	padding-left: 10px;
}
.form_wrapper .required:before {
	content: '*';
	position: absolute;
	top: 0;
	left: 0;
	color: #D83933;
}
.form_wrapper form input,
.form_wrapper form textarea,
.search_block input {
	padding: 14px 24px;
	border: none;
	background: #F6F6F6;
	margin-bottom: 12px;
	width: 100%;	
	line-height: 28px;
}
.search_block input {
	margin-bottom: 0;
	width: 555px;
}
.header_wrapper .search_block {
	display: none;
	background: #fff;
	margin: 0 auto;
	position: absolute;
	left: 50%;
	top: 12px;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
}
.header_wrapper .search_block form {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	background: #fff;
}
.header_wrapper .search_block form .btn {
	margin-left: 8px;
}
.form_wrapper form textarea {
	min-height: 120px;
	overflow-y: scroll;
	width: 100%;	
	margin-bottom: 0;
}
.agreement {
	margin-top: 44px;
}
.agreement a {
	color: #0076D6;
	text-decoration: underline;
}
.agreement.error:before {
	border: 1px solid #D83933;
}
form input[type=checkbox] {
	display: none;
}
form .agreement label {
	position: relative;
	cursor: pointer;
	margin-bottom: 0;
	color: #000;
	padding-left: 48px;
	font-size: 18px;
	width: 100%;
	display: inline-block;
	text-transform: none;
	font-family: 'Roboto', sans-serif;
}
form .agreement label:before,
form .agreement label:after {
	content: '';
	position: absolute;
	top: -5px;
	left: 0;
	width: 28px;
	height: 28px;
}
form .agreement label:before {
	background: #F6F6F6;
}
form .agreement label:after {
	background: url(../img/sprite.png) center no-repeat;
	background-position: -46px -162px;
	width: 36px;
	height: 32px;
	display: none;
}
form .agreement input[type=checkbox]:checked + label:after {
	display: block;
	top: -7px;
	left: -4px;
}
.btn_wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	margin-top: 40px;
	width: 100%;
}
.btn_wrapper .close_btn.btn {
	background: #F6F6F6;
	color: #2E2E2E;
	letter-spacing: 1px;
	padding: 20px  27px;
}
.btn_wrapper .submit_btn {
	padding: 18px 32px;
}
.close_btn.i_close_gray {
	position: absolute;
	top: 6px;
	right: 6px;
	width: 44px;
	height: 44px;
}
.slick-dotted.slick-slider {
	margin-bottom: 0;
}
.promo .slick-prev:before, 
.promo .slick-next:before,
.popular_items .slick-prev:before, 
.popular_items .slick-next:before {
	display: none;
}
.promo .slick-prev {
	left: 11px;
	background: url(../img/sprite.png) no-repeat top left;
	background-position: -203px -46px;
	width: 36px;
	height: 36px;
	z-index: 5;
}
.promo .slick-next {
	right: 11px;
	background: url(../img/sprite.png) no-repeat top left;
	background-position: -203px -92px;
	width: 36px;
	height: 36px;
	z-index: 5;
}
.popular_items .slick-prev {
	top: -60px;
	left: 322px;
	background: url(../img/sprite.png) no-repeat top left;
	background-position: -154px -108px;
	width: 36px;
	height: 36px;
	z-index: 5;
}
.popular_items .slick-next {
	top: -60px;
	right: 321px;
	background: url(../img/sprite.png) no-repeat top left;
	background-position: -203px 0;
	width: 36px;
	height: 36px;
	z-index: 5;
}
.promo .slick-prev:after {
	content: '';
	position: absolute;
	width: 80px;
	height: 160px;
	top: -60px;
	left: -11px;
	display: block;
	background: url(../img/arrow_decor_left.svg) no-repeat top left;
	background-position-x: -24px;
}
.promo .slick-next:after {
	content: '';
	position: absolute;
	width: 80px;
	height: 160px;
	top: -60px;
	right: -11px;
	display: block;
	background: url(../img/arrow_decor_right.svg) no-repeat top left;
	background-position-x: 12px;
}
.promo .slick-prev:hover, .promo .slick-prev:focus {
	background: url(../img/sprite.png) no-repeat top left;
	background-position: -203px -46px;
	width: 36px;
	height: 36px;
}
.promo .slick-next:hover, .promo .slick-next:focus {
	background: url(../img/sprite.png) no-repeat top left;
	background-position: -203px -92px;
	width: 36px;
	height: 36px;
}
.popular_items .slick-prev:hover, .popular_items .slick-prev:focus {
	background: url(../img/sprite.png) no-repeat top left;
	background-position: -154px -108px;
	width: 36px;
	height: 36px;
}
.popular_items .slick-next:hover, .popular_items .slick-next:focus {
	background: url(../img/sprite.png) no-repeat top left;
	background-position: -203px 0;
	width: 36px;
	height: 36px;
}
.hidden {
	display: none;
	opacity: 0;
	visibility: hidden;
}
.mail_btn.hidden {
	display: block;
	opacity: 1;
	visibility: visible;
}
section.popular_wrapper {
	margin-top: 65px;
	padding-bottom: 254px;
	padding-top: 80px;
	background: url(../img/popular_bg.png) top no-repeat;
	background-size: auto;
}
section h2 {
	font-family: 'Robotobold', sans-serif;
	font-size: 43px;
	line-height: 56px;
	text-align: center;
}
.popular_items {
	margin-top: 32px;
	margin-bottom: 30px;
	display: flex;
}
.popular_items .slide {
	margin: 0 12px;
	outline: none;
	background: #fff;
	filter: drop-shadow(0px 1px 4px rgba(0, 0, 0, 0.24));
}
.popular_items .slide img {
	width: 100%;
	max-height: 210px;
	object-fit: cover;
}
.popular_items .slide .content {
	padding: 24px;
}
.popular_items .slide .content b {
	display: inline-block;
	font-size: 18px;
	line-height: 28px;
	margin-bottom: 4px;
}
.popular_items .slide .content p {
	font-size: 15px;
	line-height: 24px;
	color: #757575;
}
.popular_items .slick-track {
	padding: 8px 0;
}
.popular_wrapper .btn,
.news_wrapper .btn {
	width: fit-content;
	display: block;
	margin: 0 auto;
	text-align: center;
}
.mission_wrapper {
	padding-top: 208px;
	padding-bottom: 280px;
	margin-top: -254px;
	background: url(../img/mission_bg.png) center no-repeat;
	background-position: bottom;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	background-size: cover;
}
.mission_wrapper h2 {
	text-align: right;
	transform: rotate(-90deg);
	font-family: 'Robotobold';
	font-size: 68px;
	line-height: 76px;
	text-transform: uppercase;
	margin-top: 66px;
	margin-right: 58px;
	margin-left: -58px;
}
.mission_wrapper h2 span {
	color: #D83933;
}
.mission_wrapper .content {
	width: 590px;
	margin-left: 93px;
}
.mission_wrapper .content p {
	font-size: 18px;
	line-height: 28px;
	margin-bottom: 40px;
}
.mission_wrapper .content b {
	font-size: 22px;
	line-height: 36px;
}
.mission_wrapper .content b span {
	color: #D83933;
	letter-spacing: 0.4px;
}
.news_wrapper {
	padding-top: 50px;
	padding-bottom: 160px;
	margin-top: -102px;
}
.news_wrapper .content {
	display: flex;
	flex-wrap: wrap;
	margin: 76px -16px;
	margin-bottom: 52px;
}
.news_wrapper .news_block {
	display: flex;
	align-items: start;
	width: calc(100% / 3 - 32px);
	margin: 0 16px;
	margin-bottom: 22px;
}
.news_wrapper .news_block .img {
	margin-right: 32px;
	padding-top: 4px;
	padding-left: 8px;
	position: relative;/*
	background: linear-gradient(to right, #fff 29%, black 29%, black 79%, #fff 79%);*/
	background: url(../img/crystal_bg.png) 32px top no-repeat
}
.news_wrapper .news_block .img img {
	min-width: 104px;
	height: 120px;
	clip-path: polygon(0 25%, 50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%);
}
.news_wrapper .news_block .title {
	margin-top: 4px;
}
.news_wrapper .news_block .title p {
	line-height: 20px;
	color: #5C5C5C;
	letter-spacing: 0.8px;
	margin-bottom: 12px;
}
.news_wrapper .news_block .title h3 {
	font-size: 18px;
	line-height: 28px;
	letter-spacing: 0.2px;
}

.news_wrapper .news_block .img:before, 
.news_wrapper .news_block .img:after {
	content: "";
	width: 0; 
	height: 0;
	position: absolute; 
	left: 0;
	border-left: 28px solid transparent;
	border-right: 28px solid transparent;
}
.news_wrapper .news_block .img:before {
	top: 1px;
	border-bottom: 16px solid #D83933;
	left: 32px;
}
.news_wrapper .news_block .img:after {
	bottom: 2px;
	border-top: 17px solid #D83933;
	left: 32px;
	z-index: -1;
}
#map {
	width: 100%;
	margin-bottom: -6px;
}
footer{
	background: #2E2E2E;
}
footer .contacts,
footer .copyright,
footer .copyright .links {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
}
footer .contacts a,
footer .contacts p {
	color: #fff;
	font-size: 18px;
	line-height: 28px;
}
footer .copyright a,
footer .copyright p {
	color: #757575;
	font-size: 15px;
	line-height: 24px;
}
footer .contacts {
	padding: 31px 0;
	padding-top: 64px;
	border-bottom: 1px solid #454545;
}
footer .copyright {
	padding: 22px 0;
	padding-bottom: 54px;
}
footer .contacts a:last-of-type {
	text-decoration: underline;
}
footer .copyright > a {
	margin-right: auto;
	margin-left: 32px;
}
footer .copyright .links .icon.i_Cronlogo {
	width: 74px;
	margin-left: 10px;
}
footer .copyright .links .icon.i_linkedIN {
	background-position: -3px -54px;
	width: 35px;
}
footer .copyright .links .icon.i_youtube {
	background-position: -149px -54px;
	width: 35px;
}
.show_map {
	display: none;
}